body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.carousel-container {
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-btn.next {
    display: none;
}

.carousel-btn.prev {
    display: none;
}


.carousel-slides img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.company-profile {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
